Sep232022-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Letter">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="To"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:string" name="body"/>
        <xs:element type="xs:string" name="From"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>