Session4-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:string" name="author"/>
        <xs:element type="xs:string" name="theme"/>
        <xs:element type="xs:string" name="publisher"/>
        <xs:element type="xs:byte" name="ISBN"/>
        <xs:element type="xs:string" name="price"/>
        <xs:element type="xs:string" name="edition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>